---
import {
  IconBrandGithub,
  IconBrandTwitter,
  IconUser,
} from '@tabler/icons-react';
import { SITE_TITLE } from '../consts';
import Button from '../components/Button.astro';

import '@fontsource-variable/ubuntu-sans-mono';
---

<body class="mx-auto max-w-screen-md break-words px-4 text-slate-800">
  <header
    class="-mx-4 mb-1 flex items-center justify-between rounded-b-3xl bg-primary-100 p-6 shadow-[0_4px] shadow-primary-200"
  >
    <h2>
      <a href="/" class="font-mono text-3xl font-semibold text-primary-600">
        {SITE_TITLE}
      </a>
    </h2>
    <nav class="flex gap-2">
      <Button class="p-1.5 text-primary-500" href="/about" aria-label="About">
        <IconUser />
      </Button>
      <Button
        class="p-1.5 text-twitter"
        href="https://x.com/eyr1n"
        target="_blank"
        aria-label="Twitter"
      >
        <IconBrandTwitter />
      </Button>
      <Button
        class="p-1.5 text-github"
        href="https://github.com/eyr1n"
        target="_blank"
        aria-label="GitHub"
      >
        <IconBrandGithub />
      </Button>
    </nav>
  </header>

  <main>
    <slot />
  </main>

  <footer
    class="border-t-4 border-dashed border-primary-200 py-8 text-slate-400"
  >
    &copy; <span class="font-mono">2024 {SITE_TITLE}</span>
  </footer>
</body>
