---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  disabled?: boolean;
}

const { class: className, href, disabled, ...props } = Astro.props;
---

<a
  href={href}
  class:list={[
    'rounded-xl border-4 border-dashed',
    disabled
      ? 'cursor-not-allowed border-slate-200 text-slate-200'
      : 'border-primary-300 hover:bg-primary-300 bg-primary-100 transition',
    className,
  ]}
  {...props}
>
  <slot />
</a>
