---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  disabled?: boolean;
}

const { class: className, disabled, ...props } = Astro.props;
---

{
  disabled ? (
    <span
      class:list={[
        'cursor-not-allowed rounded-xl border-4 border-slate-200 text-slate-200',
        className,
      ]}
    >
      <slot />
    </span>
  ) : (
    <a
      class:list={[
        'rounded-xl border-4 border-primary-300 bg-primary-100 transition hover:bg-primary-300',
        className,
      ]}
      {...props}
    >
      <slot />
    </a>
  )
}
