---
import '../../styles/global.css';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ありがとう</title>
  </head>

  <body class="bg-[#111111]">
    <main class="flex min-h-screen items-center justify-center px-4">
      <div class="prose prose-invert text-center">
        <p class="text-2xl">教えてくれて、ありがとう。</p>
        <p>
          <a href="/r18">戻る</a>
        </p>
      </div>
    </main>
  </body>
</html>
